
* {
  box-sizing: border-box;
}
:root {
  --primary: #fda312;
  --secondary: #14223e;
  --accent: #E5E5E5;
  --background: black ;
  --textColor: #f5f8ff;
  --nav-width: 30vw;
  color: var(--textColor);
  font-family: 'Inconsolata';
  font-weight: 400;
  background-color: var(--accent);
  padding: 0;
}

html{
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Karla';
  font-weight: 700;
  color: var(--textColor); 
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}



.logo{
 aspect-ratio: 1;
 height: 4rem;
 margin-left: 1rem;
}

.title{
  color: var(--primary) !important;
  text-decoration: none;
}



.nav-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar{
  box-sizing: border-box;
  background-color: var(--secondary);
  width: var(--nav-width);
  height: 100vh;
  position: fixed;
  flex-grow: 1;
  left: 0;
  top: 0;
  box-shadow:2px 0px 36px 4px rgba(0,0,0,0.81);
  transition: all 300ms ease-in-out;
}

.nav-bar.active{
  height: 30vh;
  width: calc(var(--nav-width)*0.33)
}

.nav-items-container{
  padding-left: 2rem;
}

.nav-items-container a {
  text-decoration: none;
}



.outlet-display{
  position: absolute;
  left: 30vw;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 0 2rem;
  color: black;
}

.outlet-display h1{
  color: black;
}

.home-headings{
  display: flex;
  justify-content: space-between;
}

.home-headings a{
  color: var(--secondary);
}

.home-headings h3{
  color: var(--primary);
}



.coin-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-title{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.coin-stats{
  text-align: center;
  padding: 2rem;
}

.coin-info-container{
  padding: 0 4rem;
}